.search-condition{
  width: 570px;
  height: 50px;
  background: #E3E3E7;
  border-radius: 10px;
  display: inline-block;
  margin-left: 90px;
  vertical-align: center;
  font-size: 25px;
}
.placeholder{
  font-size: 30px;
}
.search-btn{
  float: right;
  padding: 8px 15px;
  font-size: 30px;
  vertical-align: center;
}
.hot-search{
  float: left;
  font-size: 20px;
  color: #A0A0A0;
  line-height: 60px;
}
.flush-image{
  float: right;
  width: 83px;
  height: 68px;
}
.clearfix:after{
  content: '.';
  height: 0;
  width: 0;
  clear: both;
  visibility: hidden;
  display: block;
}
.to-book-detail{
  font-size: 25px;
  padding: 10px 15px;
  display: inline-block;
  background: #e3e3e7;
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 30px;
  color: #1c1c1b;
}
