.no-data{
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  color: #7f7f7f;
}
.end{
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  color: #7f7f7f;
  font-weight: bold;
}
