.book-item{
  float: left;
  margin-left: 15px;
  width: 240px;
  font-size: 30px;
}
.book-title{
  font-weight: bold;
}
.book-item-image{
  width: 100%;
}
.book-label{
  font-size: 24px;
  color: #7f7f7f;
  margin-right: 10px;
}
.book-info{
  padding: 10px 15px;
}
.no-margin-left{
  margin-left: 0 !important;
}
.book-item-bg{
  width: 367px;
  margin-left: 16px;
  float: left;
  font-size: 30px;
}
