.book-item{
  float: left;
  margin-left: 15rpx;
  width: 240rpx;
  font-size: 30rpx;
}
.book-title{
  font-weight: bold;
}
.book-item-image{
  width: 100%;
}
.book-label{
  font-size: 24rpx;
  color: #7f7f7f;
  margin-right: 10rpx;
}
.book-info{
  padding: 10rpx 15rpx;
}
.no-margin-left{
  margin-left: 0 !important;
}
.book-item-bg{
  width: 367rpx;
  margin-left: 16rpx;
  float: left;
  font-size: 30rpx;
}
