.bookcity-title{
  width: 240px;
  height: 84px;
}
.more{
  float: right;
  font-size: 30px;
  color: #c4c4c4;
  line-height: 84px;
}
.image-main{
  width: 750px;
  height: 376px;
}
.book-main-title{
  font-size: 30px;
  font-weight: bold;
}
.sub-title{
  font-size: 24px;
  color: #7f7f7f;
  margin-bottom: 10px;
}
