.bookcity-title{
  width: 240rpx;
  height: 84rpx;
}
.more{
  float: right;
  font-size: 30rpx;
  color: #c4c4c4;
  line-height: 84rpx;
}
.image-main{
  width: 750rpx;
  height: 376rpx;
}
.book-main-title{
  font-size: 30rpx;
  font-weight: bold;
}
.sub-title{
  font-size: 24rpx;
  color: #7f7f7f;
  margin-bottom: 10rpx;
}

