page{
  height: 100%;
  width: 100%;
}
.container{
  position: relative;
  height: 100%;
  width: 100%;
}
.all-page{
  position: absolute;
  bottom: 80px;
  top: 50px;
  left: 0;
  right: 0;
}
.book-item-main-image{
  width: 210px;
  height: 120px;
  float: left;
}
.book-item-one-page{
  padding: 15px 20px;
  border-bottom: 2px solid #edecee;
}
.start-read{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e7380c;
  color: white;
  font-size: 30px;
}
.page-num{
  color: #141414;
  font-size: 30px;
}
.page-time{
  color: #838383;
  font-size: 20px;
}
.little-image{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.page-info{
  padding: 20px 25px;
  margin-left: 210px;
}
.fr{
  float: right;
}
.page-time{
  margin-top: 30px;
}
.clearfix:after{
  content: '.';
  height: 0;
  width: 0;
  visibility: hidden;
  clear: both;
  display: block;
}
.vt{
  vertical-align: top;
}
.page-all-set{
  position: relative;
  top: -2px;
  z-index: 99;
  background: #f4f4f4;
  padding: 20px 20px;
  font-size: 20px;
  white-space: nowrap;
  overflow: scroll;
}
.page-set:first-child{
  margin-left: 0;
}
.page-set{
  display: inline-block;
  padding: 10px 35px;
  background: white;
  margin-left: 30px;
  color: #4b4b4b;
}
.select-page-container{
  padding-right: 20px;
  position: relative;
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid #f4f4f4;
}
.select-page{
  font-size: 20px;
  color: #666666;
  margin-right: 10px;
}
.mark{
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
.select-image{
  width: 20px;
  height: 20px;
}
.select-page-main{
  float: right;
  height: 100%;
}
