page{
  height: 100%;
  width: 100%;
}
.book-bg-image{
  position: relative;
  width: 750px;
  height: 320px;
  overflow: hidden;
}
.bg-image{
  position: absolute;
  width: 750px;
  height: 320px;
  z-index: -1;
  filter: blur(15px);
}
.all-container{
  position: relative;
  height: 100%;
  width: 100%;
}
.book-title-info{
  position: absolute;
  bottom: 25px;
  left: 25px;
  color: black;
}
.book-detail-title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.desc-label{
  font-size: 20px;
}
.container{
  position: relative;
  overflow: auto;
  float: left;
  height: calc(100% - 80px);
  width: 750px;
}
.tab-list{
  display: flex;
  justify-content: space-around;
  width: 750px;
  line-height: 80px;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 25px;
  border-bottom: 1px solid #fbfbfb;
}
.tab{
  width: 140px;
  position: relative;
}
.tab.active::after{
  content: '';
  position: absolute;
  width: 100%;
  background: #f54200;
  bottom: 0;
  height: 10px;
  left: 0;
  border-radius: 5px;
}
.tab-panel{
  height: auto;
  position: absolute;
  top: 400px;
  bottom: 0 ;
  width: 750px;
}

.all-page{
  position: absolute;
  bottom: 0;
  top: 50px;
  left: 0;
  right: 0;
}
.book-item-main-image{
  width: 210px;
  height: 120px;
  float: left;
}
.book-item-one-page{
  padding: 15px 20px;
  border-bottom: 2px solid #edecee;
}
.page-num{
  color: #141414;
  font-size: 30px;
}
.page-time{
  color: #838383;
  font-size: 20px;
}
.little-image{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.page-info{
  padding: 20px 25px;
  //margin-left: 210px;
}
.fr{
  float: right;
}
.page-time{
  margin-top: 30px;
}
.clearfix:after{
  content: '.';
  height: 0;
  width: 0;
  visibility: hidden;
  clear: both;
  display: block;
}
.vt{
  vertical-align: top;
}
.page-all-set{
  position: relative;
  top: -2px;
  z-index: 99;
  background: #f4f4f4;
  padding: 20px 20px;
  font-size: 20px;
  white-space: nowrap;
  overflow: scroll;
}
.page-set:first-child{
  margin-left: 0;
}
.page-set{
  display: inline-block;
  padding: 10px 35px;
  background: white;
  margin-left: 30px;
  color: #4b4b4b;
}
.select-page-container{
  position: fixed;
  padding-right: 20px;
  position: relative;
  height: 50px;
  line-height: 40px;
  border-bottom: 2px solid #f4f4f4;
}
.select-page{
  font-size: 20px;
  color: #666666;
  margin-right: 10px;
}
.mark{
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
.select-image{
  width: 20px;
  height: 20px;
}
.select-page-main{
  float: right;
  height: 100%;
}
.end{
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  color: #7f7f7f;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
.collection{
  border-radius: 0;
  line-height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 375px;
  background: white;
  color: #8B8B8B;
  font-size: 30px;
  height: 80px;
  border: none;
  text-align: center;
  box-sizing: border-box;
  border-top: 1px solid #edecee;
}
.start-read{
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 375px;
  right: 0;
  background: #e7380c;
  color: white;
  font-size: 30px;
  border-radius: 0;
  height: 80px;
  line-height: 80px;
}
.btn-icon{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  vertical-align: -3px;
}
.where-i-read{
  font-size: 20px;
  color: #8B8B8B;
  margin-left: 10px;
}
.desc-info{
  font-size: 25px;
  margin-bottom: 20px;
  color: #828282;
}
.book-sm-img{
  width: 150px;
  float: right;
  margin-bottom: 20px;
}
.book-info-detail{
  padding: 30px 30px 20px;
}
.desc{
  font-size: 25px;
  width: 700px;
  word-break: break-all;/*自动换行*/
  display: -webkit-box;
  //overflow: hidden; /*隐藏溢出的文本  */
  //text-overflow: ellipsis;
  //-webkit-box-orient: vertical;
}
.comment{
  border-top: 10px solid #f7f5f8;
}
.comment-main-title{
  font-size: 27px;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  border-bottom: 2px solid #e6e6e6;
}
.user-face{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  vertical-align: middle;
}
.one-comment{
  padding: 35px 25px;
  border-bottom: 2px solid #e6e6e6;
}
.one-comment:last-child{
  border-bottom: none;
}
.username{
  font-size: 25px;
  margin-left: 20px;
  vertical-align: middle;
}
.comment-time{
  color: #949494;
  font-size: 20px;
  float: right;
}
.comment-base-info{
  line-height: 75px;
}
.user-sex{
  width: 30px;
  vertical-align: -5px;
  margin-left: 10px;
}
.user-level{
  width: 50px;
  margin-left: 10px;
}
.comment-desc{
  font-size: 25px;
  margin-top: 25px;
}
.comments-scroll{
  height: 100%;
  width: 100%;
}
